# API GLPI
GLPI_BASE_URL="https://sua-instancia.glpi.com"
GLPI_APP_TOKEN='app_token'
GLPI_USER_TOKEN='user_token'
GLPI_SESSION_TOKEN=''

# PostgresSQL Data Warehouse
DW_HOST=host_address
DW_PORT=host_port
DW_DATABASE=db_name
DW_USER=db_user
DW_PASSWORD=db_password

# General settings
LOG_LEVEL=INFO


